.float-button {
  @include float-button;
}

.arrowLeft {
    @include arrow_button(left);
}

.arrowRight {
    @include arrow_button(right);
}

.sideBtnCancel {
    @include side_button(white);
}

.float-button .fa-plus, .fa-check {
    @include side_button(white);
    font-size: 3.5em;
}

.fa-calendar {
    position: relative;
    top: 1px;
    font-size: 5em;
    color: $accent-color;
    position: absolute;
    padding-top: 25px;
    right: 60px;
}

.fa-plus,
.addBtn,
.cancelBtn,
.deleteBtn,
.editBtn,
.pinBtn,
.updateBtn {
    font-size: 1.5em;
}

.editBtn {
    color: green;
}

.addBtn {
    color: $accent-color;
}

.deleteBtn {
    padding-left: 5px;
    color: red;
}

.pinBtn {
    margin-left: 15px;
    width: 20px;
}

.cancelBtn,
.pinBtn {
    color: red;
}

.updateBtn {
    color: green;
}
