// used with preprocessors and contain font, colors definitions, etc.
$mobile-width: 768px;
$main-color: #FFB04A;
// $main-color: gainsboro;
$highlight-color: #FF3D3D;
$accent-color: #3F51B5;
$shadow: #8a847d;
$box-color-1: #A1CC3A;
$box-color-2: #E62E62;
$box-color-3: #335CAA;
$box-color-4: #F9A91B;
$box-color-5: #3BC7F4;
$box-color-6: #713E98;
