body,
html,
#map-container {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; }

.carousel,
.nav,
.pagination,
.panel-title a {
  cursor: pointer; }

main {
  margin: 80px; }

h1 {
  text-align: center;
  font-size: 6em;
  font-style: italic;
  color: #FF3D3D;
  font-family: 'Limelight', cursive;
  font-weight: bolder; }

body {
  background-color: #FFB04A;
  color: #1E689C; }

.float-button {
  position: fixed;
  right: 10px;
  height: 4em;
  width: 4em;
  border-radius: 50%;
  background-color: #1E689C;
  box-shadow: 5px 5px 3px #8a847d;
  bottom: 50px; }
  .float-button:hover {
    background-color: #2685c7;
    box-shadow: 5px 5px 3px #827c75; }

.arrowLeft {
  font-size: 3em;
  color: #1E689C;
  position: fixed;
  top: 300px;
  left: 5px; }
  .arrowLeft:disabled {
    color: #459ddb; }
  .arrowLeft:hover {
    color: #164b71; }

.arrowRight {
  font-size: 3em;
  color: #1E689C;
  position: fixed;
  top: 300px;
  right: 5px; }
  .arrowRight:disabled {
    color: #459ddb; }
  .arrowRight:hover {
    color: #164b71; }

.sideBtnCancel {
  font-size: 3.5em;
  color: white;
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.float-button .fa-plus, .fa-check {
  font-size: 3.5em;
  color: white;
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3.5em; }

.fa-calendar {
  position: relative;
  top: 1px;
  font-size: 5em;
  color: #1E689C;
  position: absolute;
  padding-top: 25px;
  right: 60px; }

.fa-plus,
.addBtn,
.cancelBtn,
.deleteBtn,
.editBtn,
.pinBtn,
.updateBtn {
  font-size: 1.5em; }

.editBtn {
  color: green; }

.addBtn {
  color: #1E689C; }

.deleteBtn {
  padding-left: 5px;
  color: red; }

.pinBtn {
  margin-left: 15px;
  width: 20px; }

.cancelBtn,
.pinBtn {
  color: red; }

.updateBtn {
  color: green; }

.tripMap {
  width: 300px;
  height: 300px; }

div#map-container {
  position: relative; }

#map_canvas {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.search-input {
  border-radius: 25px; }

#footerView {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 30px;
  width: 100%;
  background-color: #1E689C; }

#footerView p {
  padding-top: 3px;
  text-align: center;
  color: white; }

#wide-menu {
  position: fixed;
  top: 0;
  background-color: #1E689C;
  width: 100%;
  display: inline-flex;
  justify-content: space-between; }

#narrow-menu {
  position: fixed;
  top: 0;
  background-color: #1E689C;
  width: 100%;
  display: inline-flex;
  justify-content: space-between; }

.left-menu:hover {
  cursor: pointer; }

.left-menu a {
  font-size: 2em;
  color: white;
  text-decoration: none;
  border-radius: 10px; }

.left-menu a span {
  font-family: sans-serif; }

#nav-view a {
  color: white;
  margin: 5px;
  border-radius: 10px; }

.hamburger {
  font-size: 2em;
  display: block;
  float: right;
  color: white;
  text-align: center;
  padding: 2px;
  text-decoration: none;
  margin: 10px;
  border-radius: 10px;
  width: 40px; }

.hamburger:hover {
  cursor: pointer; }

.nav-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden; }

.nav-menu li {
  display: inline-block;
  float: right; }

.nav-menu li a {
  font-size: 3em;
  display: block;
  color: white;
  text-align: center;
  padding: 2px;
  text-decoration: none;
  margin: 0 5px;
  border-radius: 10px;
  width: 60px; }

.nav-menu li a:last-of-type {
  margin-left: 80%; }

.nav-btn:focus,
.nav-menu li a:hover {
  background-color: #FF3D3D; }

.nav-home:focus,
.nav-home:hover {
  background-color: #FF3D3D; }

.nav-home:focus,
.nav-home:hover {
  padding-top: 25px;
  padding-bottom: 45px; }

.nav-aside {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #FFB04A;
  transition: all 0.5s ease;
  z-index: 2; }

.open {
  opacity: 1;
  visibility: visible; }

.navBarBtn {
  color: white; }

.nav-overlay {
  text-align: center;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .nav-overlay ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    .nav-overlay ul li {
      align-items: center;
      flex: 1;
      line-height: 12vh; }
      .nav-overlay ul li a {
        font-size: 1.5em;
        transition: all 0.5s ease;
        display: block;
        text-decoration: none;
        color: #ff5c5c; }
        .nav-overlay ul li a:hover {
          color: #FF3D3D;
          transform: scale(1.1); }
          .nav-overlay ul li a:hover:before {
            visibility: visible;
            transform: scaleX(1); }
        .nav-overlay ul li a:before {
          content: "";
          position: absolute;
          width: 50%;
          height: 2px;
          bottom: 0;
          left: 25%;
          background: #1E689C;
          visibility: hidden;
          transform: scaleX(0);
          transition: all 0.3s ease-in-out 0s; }

.close {
  position: fixed;
  top: 40px;
  right: 60px;
  color: #1E689C;
  z-index: 3;
  cursor: pointer;
  font-family: sans-serif; }
  .close span,
  .close span:after,
  .close span:before {
    border-radius: 4px;
    height: 5px;
    width: 35px;
    background: #1E689C;
    position: absolute;
    display: block;
    content: ''; }
  .close span {
    background: transparent; }
  .close span:before {
    transform: rotate(45deg); }
  .close span:after {
    transform: rotate(-45deg); }

@media screen and (min-width: 861px) {
  #wide-menu {
    visibility: visible; }
  #narrow-menu {
    visibility: hidden; }
  .left-menu {
    padding: 20px 0 0 10px; } }

@media screen and (max-width: 860px) {
  #wide-menu {
    visibility: hidden; }
  #narrow-menu {
    visibility: visible; }
  nav ul li a {
    font-size: 3em; }
  .left-menu {
    padding: 10px 0 0 10px; }
  .left-menu a {
    font-size: 1.5em; } }

#homeTag {
  text-align: center;
  font-style: italic;
  font-weight: bold;
  font-size: 2.5em;
  font-family: 'Sriracha', cursive;
  color: #FF3D3D;
  margin: 0 0 15px 0; }

#homePics {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.homeImg {
  margin: 2px; }

#dayView {
  width: 100%; }

.guestDayTitle {
  width: 100%;
  text-align: center;
  color: #FF3D3D;
  margin-bottom: 20px; }

.dayDisplay {
  width: 100%;
  display: inline-flex;
  justify-content: space-between; }

.dayInfo {
  width: 90%; }

.dayInfo p {
  padding-left: 20px; }

.dayInfo h3 {
  text-align: center;
  width: 100%; }

.dayMap {
  width: 20%; }

.dayPic {
  width: 40%; }

.dayInfo {
  display: block;
  width: 50%;
  padding: 0 10px; }

.dayGraphic {
  height: 25%;
  width: 25%;
  margin: 2px; }

.guestDay:active {
  background-color: lightgrey; }

.guestDay p {
  /*text-align: center;*/
  padding: 10px 5px 0 10px;
  color: #1E689C; }

.guestDayImg {
  height: auto;
  max-width: 100%; }

.tripName {
  text-align: center;
  color: #FF3D3D;
  font-size: 2em;
  font-weight: bold; }

.tripImg {
  height: 300px; }

.tripFact {
  font-size: 1.2em; }

.searchInput {
  border-radius: 25px;
  margin-left: -40px; }

.guestTrip {
  background-color: #FF3D3D;
  color: white;
  border-radius: 35px 0 0 35px;
  padding: 2px 0 5px 15px;
  margin: 4px;
  margin-top: 4px;
  box-shadow: 5px 5px 3px #F49821; }

.guestTrip:hover {
  color: #1E689C;
  bottom: -2px;
  left: 2px;
  box-shadow: 0 0 0 #887f7d; }

.guestTrip span {
  padding-left: 20px; }

.guestTrip p {
  text-align: center;
  color: #1E689C; }

.guestTrip .fa-globe {
  font-size: 2em; }

#viewTripBtn {
  margin-top: 35px;
  text-align: center;
  color: white;
  padding: 15px 0;
  background-color: #FF3D3D;
  box-shadow: 5px 5px 3px #F49821; }

.picView img {
  width: 90%;
  height: auto; }

.picCaption {
  font-weight: bold;
  margin: 5px 0 10px 5px; }

.daySection input {
  margin: 3px 3px; }

.dayTable th {
  text-align: center;
  color: grey; }

.dayLabel {
  margin-top: 10px;
  border-top: 1px solid #1E689C;
  padding: 5px 0; }

.daySubLabel {
  margin-top: 10px;
  border-top: 1px solid #d5d9de;
  padding: 5px 0; }

.day-cat-1 {
  display: inline-block;
  position: relative;
  margin: 1%;
  background-color: #A1CC3A;
  border-style: none;
  padding: 1%;
  box-shadow: 5px 5px 3px #8a847d; }
  .day-cat-1 h2 {
    color: white;
    text-align: center; }
  .day-cat-1:hover {
    top: -1px;
    left: -1px;
    background-color: #93bc31;
    box-shadow: 3px 3px 2px #7d7771; }
  .day-cat-1:disabled {
    opacity: 0.3;
    color: #8a847d; }

.day-cat-2 {
  display: inline-block;
  position: relative;
  margin: 1%;
  background-color: #E62E62;
  border-style: none;
  padding: 1%;
  box-shadow: 5px 5px 3px #8a847d; }
  .day-cat-2 h2 {
    color: white;
    text-align: center; }
  .day-cat-2:hover {
    top: -1px;
    left: -1px;
    background-color: #e01b52;
    box-shadow: 3px 3px 2px #7d7771; }
  .day-cat-2:disabled {
    opacity: 0.3;
    color: #8a847d; }

.day-cat-3 {
  display: inline-block;
  position: relative;
  margin: 1%;
  background-color: #335CAA;
  border-style: none;
  padding: 1%;
  box-shadow: 5px 5px 3px #8a847d; }
  .day-cat-3 h2 {
    color: white;
    text-align: center; }
  .day-cat-3:hover {
    top: -1px;
    left: -1px;
    background-color: #2d5196;
    box-shadow: 3px 3px 2px #7d7771; }
  .day-cat-3:disabled {
    opacity: 0.3;
    color: #8a847d; }

.day-cat-4 {
  display: inline-block;
  position: relative;
  margin: 1%;
  background-color: #F9A91B;
  border-style: none;
  padding: 1%;
  box-shadow: 5px 5px 3px #8a847d; }
  .day-cat-4 h2 {
    color: white;
    text-align: center; }
  .day-cat-4:hover {
    top: -1px;
    left: -1px;
    background-color: #f49e06;
    box-shadow: 3px 3px 2px #7d7771; }
  .day-cat-4:disabled {
    opacity: 0.3;
    color: #8a847d; }

.day-cat-5 {
  display: inline-block;
  position: relative;
  margin: 1%;
  background-color: #3BC7F4;
  border-style: none;
  padding: 1%;
  box-shadow: 5px 5px 3px #8a847d; }
  .day-cat-5 h2 {
    color: white;
    text-align: center; }
  .day-cat-5:hover {
    top: -1px;
    left: -1px;
    background-color: #23c0f3;
    box-shadow: 3px 3px 2px #7d7771; }
  .day-cat-5:disabled {
    opacity: 0.3;
    color: #8a847d; }

.day-cat-6 {
  display: inline-block;
  position: relative;
  margin: 1%;
  background-color: #713E98;
  border-style: none;
  padding: 1%;
  box-shadow: 5px 5px 3px #8a847d; }
  .day-cat-6 h2 {
    color: white;
    text-align: center; }
  .day-cat-6:hover {
    top: -1px;
    left: -1px;
    background-color: #643786;
    box-shadow: 3px 3px 2px #7d7771; }
  .day-cat-6:disabled {
    opacity: 0.3;
    color: #8a847d; }

@media screen and (min-width: 861px) {
  .day-cat {
    width: 45%;
    height: 8em; }
    .day-cat h2 {
      font-size: 2em; } }

@media screen and (max-width: 860px) {
  .day-cat {
    width: 100%;
    height: 4em; }
    .day-cat h2 {
      font-size: 1.5em; } }

.tripInfo {
  font-size: 1.2em; }

.tripInfo .title {
  text-align: right;
  font-weight: 200; }

#daygen-form label {
  margin-top: 4px; }

#daygen-radios {
  display: inline-flex;
  justify-content: space-around;
  align-items: center; }

#daygen-radios input[type=radio] + label {
  padding: 4px 4px; }

#daygen-radios input[type=radio]:checked + label {
  color: #FF3D3D; }

.weather-radio {
  color: #1E689C;
  font-size: 2.5em;
  margin-left: 10px;
  margin-right: 50px; }
