// globally used mixins and functions. It’s important not to output any CSS in the first 2 layers.
@mixin header-bar {
    position: fixed;
    top: 0;
    background-color: #1E689C;
    width: 100%;
}
@mixin header_text {
    font-size: 5em;
    padding: 100px;
    letter-spacing: 15px;
    color: lighten($main-color, 50%);
    margin-bottom: 100px;
    text-shadow: 3px 3px $accent-color;
    text-align: center;
    @media (max-width: $mobile-width) {
        font-size: 40px;
        letter-spacing: 8px;
    }
}
@mixin header_button {
    font-size: 3em;

    &:focus,
    &:hover {
        background-color: $highlight-color;
    }
}
@mixin arrow_button($side) {
    font-size: 3em;
    color: $accent-color;
    position: fixed;
    top: 300px;
    #{$side}: 5px;

    &:disabled {
        color: lighten($accent-color, 20%);
    }

    &:hover {
        color: darken($accent-color, 10%);
    }
}
@mixin float-button {
    position: fixed;
    right: 10px;
    height: 3.4em;
    width: 3.4em;
    border-radius: 50%;
    background-color: white;
    box-shadow: 5px 5px 3px $shadow;
    bottom: 50px;
    &:hover {
      box-shadow: 5px 5px 3px darken($shadow, 10%);
    }
}
@mixin side_button($color) {
    font-size: 4em;
    color: $color;
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &:hover {
      color: lighten($color, 10%);
    }
  }
