<button type="button" name="daygen" ng-click="adc.goToDay('daygen')" class="day-cat day-cat-1">
          <p class="day-button"><i class="fa fa-info-circle" aria-hidden="true"></i> General</p>
</button>
<button type="button" name="dayroute" ng-click="adc.goToDay('dayroute')" class="day-cat day-cat-2" ng-disabled="adc.isDisabled">
  <p class="day-button"><i class="fa fa-map" aria-hidden="true"></i> Route</p>
</button>
<button type="button" name="dayfood" ng-click="adc.goToDay('dayfood')" class="day-cat day-cat-3" ng-disabled="adc.isDisabled">
  <p class="day-button"><i class="fa fa-cutlery" aria-hidden="true"></i> Food</p>
</button>
<button type="button" name="daybed" ng-click="adc.goToDay('daybed')" class="day-cat day-cat-4" ng-disabled="adc.isDisabled">
  <p class="day-button"><i class="fa fa-bed" aria-hidden="true"></i> Lodging</p>
</button>
<button type="button" name="daypoi" ng-click="adc.goToDay('daypoi')" class="day-cat day-cat-5" ng-disabled="adc.isDisabled">
  <p class="day-button"><i class="fa fa-pin" aria-hidden="true"></i> Points of Interest</p>
</button>
<button type="button" name="daypic" ng-click="adc.goToDay('daypic')" class="day-cat day-cat-6" ng-disabled="adc.isDisabled">
  <p class="day-button"><i class="fa fa-camera" aria-hidden="true"></i> Photos</p>
</button>
