<div ng-cloak>

    <div class="float-button" ng-show="adc.isNewDay">
        <md-button ng-click="adc.addDay()" class="md-fab" aria-label="Save...">
            <md-tooltip md-direction="left" md-visible="tooltipVisible">Save Day</md-tooltip>
            <md-icon md-svg-src="./assets/icons/ic_check_white_24px.svg"></md-icon>
        </md-button>
    </div>
    <div class="float-button" ng-show="!adc.isNewDay">
        <md-fab-speed-dial ng-mouseenter md-direction="up" class="md-scale md-fab-bottom-right">
            <md-fab-trigger>
                <md-button class="md-fab" aria-label="Add...">
                    <md-tooltip md-direction="left" md-visible="tooltipVisible">Add Day Details</md-tooltip>
                    <md-icon md-svg-src="./assets/icons/ic_add_white_24px.svg"></md-icon>
                </md-button>
            </md-fab-trigger>

            <md-fab-actions>
                <md-button class="md-fab md-mini" aria-label="Add Lodging">
                    <md-tooltip md-direction="left" md-visible="tooltipVisible">Lodging</md-tooltip>
                    <md-icon md-svg-src="./assets/icons/hotel.svg"></md-icon>
                </md-button>

                <md-button class="md-fab md-mini" aria-label="Add Point of Interest">
                    <md-tooltip md-direction="left" md-visible="tooltipVisible">Point of Interest</md-tooltip>
                    <md-icon md-svg-src="./assets/icons/map-marker.svg"></md-icon>
                </md-button>

                <md-button class="md-fab md-mini" aria-label="Add Transportation">
                    <md-tooltip md-direction="left" md-visible="tooltipVisible">Transport</md-tooltip>
                    <md-icon md-svg-src="./assets/icons/car.svg"></md-icon>
                </md-button>

                <md-button class="md-fab md-mini" aria-label="Add Food or Drink">
                    <md-tooltip md-direction="left" md-visible="tooltipVisible">Food and Drink</md-tooltip>
                    <md-icon md-svg-src="./assets/icons/food-fork-drink.svg"></md-icon>
                </md-button>

                <md-button class="md-fab md-mini" aria-label="Add Photos">
                    <md-tooltip md-direction="left" md-visible="tooltipVisible">Photos</md-tooltip>
                    <md-icon md-svg-src="./assets/icons/ic_photo_camera_white_24px.svg"></md-icon>
                </md-button>

                <md-button ng-href="#/mydays/{{adc.data.day.trip_id}}" class="md-fab md-mini" aria-label="Return">
                    <md-tooltip md-direction="left" md-visible="tooltipVisible">Back</md-tooltip>
                    <md-icon md-svg-src="./assets/icons/ic_arrow_back_white_24px.svg"></md-icon>
                </md-button>

            </md-fab-actions>
        </md-fab-speed-dial>
    </div>

    <md-content>
        <h1 class="md-display-1">General Information</h1>

        <form class="md-inline-form" name="changeDayForm">
            <div layout="column">
                <div layout="row">
                    <md-input-container flex="20">
                        <label>Date</label>
                        <input type="date" name="date" ng-model="adc.data.day.date">
                    </md-input-container>
                    <md-input-container flex="30">
                        <label>Weather</label>
                        <md-select ng-model="adc.data.day.weather">
                            <md-option><em>None</em></md-option>
                            <md-option ng-repeat="weather in ['Sunny', 'Cloudy', 'Rainy', 'Stormy', 'Snowy']" ng-value="weather">
                                {{weather}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container flex="50">
                        <label>Tagline</label>
                        <input type="text" name="tagline" ng-model="adc.data.day.tagline">
                    </md-input-container>
                </div>
                <md-input-container>
                    <label>Location</label>
                    <input places-auto-complete ng-model="adc.data.day.end_location" on-place-changed="adc.genDestinationChanged()" placeholder="" />
                </md-input-container>
                <md-input-container>
                    <label>Narrative of the Day</label>
                    <textarea rows="5" name="narrative" ng-model="adc.data.day.narrative" ng-wrap></textarea>
                </md-input-container>
            </div>
        </form>
    </md-content>
</div>
