<div>
    <div id="bodyView">
        <h2>Add a Day</h2>
    </div>

    <form name="addDayForm">

        <div class="daySection form-group">
            <label class="dayLabel col-xs-12">General</label>
            <div class="form-group">
                <input type="date" class="col-xs-12 col-md-5" name="date" ng-model="adc.newDay.date">
            </div>
            <div class="form-group">
                <input type="text" class="col-xs-12 col-md-6" name="dayEndLocation" ng-model="adc.newDay.end_location" placeholder="Where are you?">
            </div>
            <div class="form-group">
                <input type="text" class="col-xs-12 col-md-8" name="tag_line" ng-model="adc.newDay.tag_line" placeholder="Tag line for the day">
            </div>
            <div class="form-group">
                <input type="text" class="col-xs-12 col-md-3" name="weather" ng-model="adc.newDay.weather" placeholder="Today's Weather">
            </div>
            <div class="form-group">
                <input type="textarea" class="col-xs-12 col-md-11" name="narrative" ng-model="adc.newDay.narrative" placeholder="Describe the day">
            </div>
        </div>

        <div class="daySection form-group">
            <label class="dayLabel col-xs-12">Points of Interest</label>
            <div class="form-group">
                <input type="text" class="col-xs-12 col-md-3" name="pointOfInterestName" ng-model="adc.newPointOfInterest.name" placeholder="Add point of interest">
            </div>
            <div class="form-group">
                <input type="text" class="col-xs-12 col-md-7" name="pointOfInterestDesc" ng-model="adc.newPointOfInterest.description" placeholder="Description">
            </div>
            <div class="col-xs-1 col-md-1">
                <a ng-click="adc.addPOIRow()"><i class="fa fa-plus" aria-hidden="true"></i></a>
            </div><br>
            <div class="col-xs-12 col-md-11">
                <table class="dayTable table table-hover table-responsive">
                    <thead class=>
                        <tr>
                            <th style="width:20%">Name</th>
                            <th style="width:80%">Description</th>
                        </tr>
                    </thead>
                    <tbody class="routes" ng-repeat="place in adc.newDay.interesting_locations">
                        <tr>
                            <td>{{place.name}}</td>
                            <td>{{place.description}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="daySection form-group">
            <label class="dayLabel col-xs-12">Routes</label>
            <div class="form-group">
                <select class="col-xs-12 col-md-2" ng-model="adc.route.transport_mode" ng-options="item for item in adc.transportModes"></select>
            </div>
            <div class="form-group">
                <input type="text" class="col-xs-12 col-md-4" name="routeName" ng-model="adc.newRoute.name" placeholder="Point on route">
            </div>
            <div class="form-group">
                <input type="text" class="col-xs-12 col-md-1" name="routeDistance" ng-model="adc.newRoute.distance" placeholder="Distance">
            </div>
            <div class="form-group">
                <input type="text" class="col-xs-12 col-md-1" name="routeDuration" ng-model="adc.newRoute.duration" placeholder="Duration">
            </div>
            <div class="form-group">
                <input type="text" class="col-xs-12 col-md-3" name="routeSpecifics" ng-model="adc.newRoute.specifics" placeholder="Specifics">
            </div><br>
            <div class="form-group">
                <input type="text" class="col-xs-12 col-md-10" name="routeComment" ng-model="adc.newRoute.comment" placeholder="Comments">
            </div>
            <div class="col-xs-1 col-md-1">
                <a ng-click="adc.addRouteRow()"><i class="fa fa-plus" aria-hidden="true"></i></a>
            </div>
            <div class="col-xs-12 col-md-11">
                <table class="dayTable table table-hover table-responsive">
                    <thead class=>
                        <tr>
                            <th style="width:10%">Name</th>
                            <th style="width:10%">Mode</th>
                            <th style="width:5%">Distance</th>
                            <th style="width:5%">Duration</th>
                            <th style="width:20%">Specfics</th>
                            <th style="width:50%">Comment</th>
                        </tr>
                    </thead>
                    <tbody class="routes" ng-repeat="route in adc.newDay.routes">
                        <tr>
                            <td>{{route.name}}</td>
                            <td>{{route.transport_mode}}</td>
                            <td>{{route.distance}}</td>
                            <td>{{route.duration}}</td>
                            <td>{{route.specifics}}</td>
                            <td>{{route.comment}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <div class="daySection form-group">
            <label class="dayLabel col-xs-12">Meals</label>
            <div class="form-group">
                <select class="col-xs-12 col-md-2" ng-model="adc.meal.type" ng-options="item for item in adc.mealTypes"></select>
            </div>
            <div class="form-group">
                <input type="text" class="col-xs-12 col-md-3" name="mealName" ng-model="adc.newMeal.name" placeholder="Name">
            </div>
            <div class="form-group">
                <input type="text" class="col-xs-12 col-md-6" name="mealLocation" ng-model="adc.newMeal.location" placeholder="Where">
            </div>
            <div class="form-group">
                <input type="text" class="col-xs-12 col-md-4" name="mealDescription" ng-model="adc.newMeal.description" placeholder="Describe it">
            </div>
            <div class="form-group">
                <input type="text" class="col-xs-12 col-md-6" name="routeReference" ng-model="adc.newMeal.reference" placeholder="reference (url)">
            </div><br>
            <div class="col-xs-1 col-md-1">
                <a ng-click="adc.addMealRow()"><i class="fa fa-plus" aria-hidden="true"></i></a>
            </div>
            <div class="col-xs-12 col-md-11">
                <table class="dayTable table table-hover table-responsive">
                    <thead class=>
                        <tr>
                            <th style="width:10%">type</th>
                            <th style="width:10%">Name</th>
                            <th style="width:20%">Location</th>
                            <th style="width:40%">Description</th>
                            <th style="width:20%">reference</th>
                        </tr>
                    </thead>
                    <tbody class="meals" ng-repeat="meal in adc.meals">
                        <tr>
                            <td>{{meal.type}}</td>
                            <td>{{meal.name}}</td>
                            <td>{{meal.location}}</td>
                            <td>{{meal.description}}</td>
                            <td>{{meal.reference}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="daySection form-group">
            <label class="dayLabel col-xs-12 col-md-12">Lodging</label><br>
            <div class="form-group">
                <select class="col-xs-12 col-md-2" ng-model="adc.lodgingTypes_type" ng-options="item for item in adc.lodgingTypes"></select>
            </div>
            <div class="form-group">
                <input type="text" class="col-xs-12 col-md-3" name="lodging_name" ng-model="adc.newDay.lodging_name" placeholder="Name">
            </div>
            <div class="form-group">
                <input type="text" class="col-xs-12 col-md-6" name="lodging_address" ng-model="adc.newDay.lodging_address" placeholder="Address">
            </div><br>
            <div class="form-group">
                <input type="text" class="col-xs-12 col-md-11" name="lodging_reference" ng-model="adc.newDay.lodging_reference" placeholder="Reference">
            </div>
        </div><br>

        <div class="daySection form-group">
            <label class="dayLabel col-xs-12">Recommendations</label><br>
            <div class="form-group">
                <input type="text" class="col-xs-12 col-md-10" ng-model="adc.newRecommendation.text" placeholder="Recommendations?">
            </div>
            <div class="col-xs-1 col-md-1">
                <a ng-click="adc.addRecommendationRow()"><i class="fa fa-plus" aria-hidden="true"></i></a>
            </div>
            <div class="col-xs-12 cl-md-11">
                <table class="dayTable table table-hover table-responsive">
                    <thead class=>
                        <tr>
                            <th style="width:100%">Recommendation</th>
                        </tr>
                    </thead>
                    <tbody class="recommendations" ng-repeat="recommendation in adc.newDay.recommendations">
                        <tr>
                            <td>{{recommendation.text}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

            <div class="form-group addDayBtnGroup btnGroup col-xs-12 col-md-11">
                <button class="btn btn-primary" ng-click="adc.addDay()">Save</button>
                <button class="btn btn-default" ng-click="adc.cancel()">Cancel</button>
            </div>
            <div class="spacer">

            </div>
    </form>
</div>
