<div>
    <div id="bodyView">
        <h2>Add a Trip</h2>
    </div>

    <div class="col-xs-12 col-md-6">
        <ng-map default-style="true" center="current-location" zoom="12">
            <info-window position="current-location">
            </info-window>
            <marker ng-repeat="p in atc.positions" position="{{p.pos}}"></marker>
        </ng-map>
    </div>

    <div class="col-xs-12 col-md-6">
        <form name="tripAdd" class="form-horizontal" novalidate>
            <div class="form-group">
                <label class="control-label col-xs-4">Trip Name</label>
                <input type="text" class="col-xs-6" name="trip_name" ng-model="atc.newTrip.trip_name" required>
                <p class="help-block" ng-show="userFieldForm.trip_name.$invalid">Trip Name Required</p>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-4">Destination</label>
                <input type="text" class="col-xs-6" name="trip_name" ng-model="atc.newTrip.destination">
                <a class="pinBtn col-xs-1" ng-click="atc.pinDestinationLocation()"><i class="pull-right fa fa-map-marker" aria-hidden="true"></i></a>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-4">Starting Date</label>
                <input type="date" class="col-xs-6" name="begin_date" ng-model="atc.newTrip.begin_date">
            </div>
            <div class="form-group">
                <label class="control-label col-xs-4">Starting Location</label>
                <input type="text" class="col-xs-6" name="begin_location" ng-model="atc.newTrip.begin_location">
                <a class="pinBtn col-xs-1" ng-click="atc.pinBeginLocation()"><i class="pull-right fa fa-map-marker" aria-hidden="true"></i></a>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-4">Ending Date</label>
                <input type="date" class="col-xs-6" name="end_date" ng-model="atc.newTrip.end_date">
            </div>
            <div class="form-group">
                <label class="control-label col-xs-4">Ending Location</label>
                <input type="text" class="col-xs-6" name="end_location" ng-model="atc.newTrip.end_location">
                <a class="pinBtn col-xs-1" ng-click="atc.pinEndLocation()"><i class="pull-right fa fa-map-marker" aria-hidden="true"></i></a>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-4">Travellers</label>
                <input type="text" class="col-xs-6" name="travellers" ng-model="atc.newTrip.travellers">
            </div>
        </form>
    </div>
    <div class="form-group btnGroup">
        <button class="btn btn-primary" ng-click="atc.addTrip()">Save</button>
        <button class="btn btn-default" ng-click="atc.cancel()">Cancel</button>
    </div>
</div>
