<div>

    <div class="float-button">
        <a ng-click="db.changeDay()"><i class="rightBtn fa fa-check" aria-hidden="true"></i></a>
    </div>

{{db.data.day.lodging_map_location.pos[0]}}
{{db.data.day.lodging_map_location.pos[1]}}

    <div class="col-xs-12 col-md-6">
      <!-- <ng-map center="db.data.day.lodging_map_location.pos[0],db.data.day.lodging_map_location.pos[1]" zoom="4"> -->
        <!-- <marker position="db.data.day.lodging_map_location.pos[0],db.data.day.lodging_map_location.pos[1]" title="db.data.day.lodging_name"></marker> -->
      <!-- </ng-map>         -->
      <ng-map zoom="12">
            <marker ng-show="{{db.data.day.lodging_map_location}}" position="{{db.lat}},{{db.lng}}" title="{{db.destination}}"></marker>
        </ng-map>
    </div>

    <div class="col-xs-12 col-md-6">
        <form name="changeDayForm" id="daygen-form">
            <div class="form-group">
                <label>Search</label>
                <input places-auto-complete class="search-input" ng-model="db.search" on-place-changed="db.destinationChanged()"/>
            </div><br>
            <div class="form-group">
                <label>Name</label>
                <input type="text" name="name" ng-model="adc.data.day.lodging_name">
            </div>
            <div class="form-group">
                <label>Address</label>
                <input type="text" name="address" ng-model="adc.data.day.lodging_address">
            </div>
            <div class="form-group">
                <label>Type</label>
                <select type="text" name="type" ng-model="adc.data.day.lodging_type" ng-options="item for item in adc.lodgingTypes">

                </select>
            </div>
            <div class="form-group">
                <label>Reference</label>
                <input type="text" name="reference" ng-model="db.data.day.lodging_reference">
            </div><br><br><br>
        </form>
    </div>
</div>
