<div id="dayView">
    <div id="daySelect" class="col-xs-12 col-md-2">
        <div id="guestSearchDay">
            <label for="searchInput" class="sr-only"><span>Search Days</span></label>
            <input class="searchInput form-control" type="text" name="searchInput" ng-model="searchInput" placeholder="Search Days" />
        </div>

        <div class="guestDay" ng-repeat="day in dc.days | filter:searchInput">
            <a ng-click="dc.setDay($index)">
                <p>{{day.date | date:'MM/dd'}} - {{day.end_location}}</p>
            </a>
        </div>
    </div>

    <div class="dayArrowLeft col-xs-1 col-md-1">
        <div class="btn arrowBtn" ng-disabled="dc.leftButtonDisabled" ng-click="dc.goLeft()"><i class="pull-left fa fa-arrow-circle-o-left" aria-hidden="true"></i></div>
    </div>

    <div id="dayDisplay" class="col-xs-10 col-md-8">
        <p class="h2">{{dc.focusTrip.begin_date | date:'MM/dd' }} to {{dc.focusTrip.end_date | date:'MM/dd' }} - {{dc.focusTrip.trip_name}}</p>
        <div class="dayGraphic dayMap col-xs-12 col--md-5">
            <ng-map default-style="true" center="{{dc.focusDay.end_map_location.pos}}" zoom="10">
              <marker position="{{dc.focusDay.end_map_location.pos}}"
                 animation="DROP"
                 draggable="true"></marker>
            </ng-map>
        </div>
        <div class="dayGraphic col-xs-12 col--md-7">
            <img class="guestDayImg" src="{{dc.focusDay.photo_url}}" alt="{{dc.focusDay.photo_caption}}">
        </div>

        <div class="guestTabView">
            <div class="guestTripInfo col-xs-10 col-md-10">
                <h3 class="guestDayTitle">{{dc.focusDay.date | date:'fullDate'}} -- {{dc.focusDay.tag_line}}</h3>
                <h4>{{dc.focusDay.end_location}}, {{dc.focusDay.weather}}</h4>
                <p>{{dc.focusDay.narrative}}</p>

                <div>
                    <h4>Lodging</h4>
                    <p>{{dc.focusDay.lodging_name}}</p>
                    <p>{{dc.focusDay.lodging_address}}</p>
                    <p>{{dc.focusDay.lodging_type}} - {{dc.focusDay.lodging_reference}}</p>

                    <h4>Eating and Drinking</h4>
                    <ul ng-repeat="meal in dc.focusDay.meals">
                        <li>{{meal.name}} - {{meal.description}}</li>
                    </ul>

                    <h4>Points of Interest</h4>
                    <ul ng-repeat="place in dc.focusDay.interesting_locations">
                        <li>{{place.name}} - {{place.description}}</li>
                    </ul>

                    <h4>Recommendations</h4>
                    <ul ng-repeat="recommendation in dc.focusDay.recommendations">
                        <li>{{recommendation.text}}</li>
                    </ul>

                    <h4>Route</h4>
                    <ul ng-repeat="route in dc.focusDay.interesting_routes">
                        <li>{{route.name}} - {{route.description}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="dayArrowRight col-xs-1 col-md-1">
        <div class="btn arrowBtn" ng-disabled="dc.rightButtonDisabled" ng-click="dc.goRight()"><i class="pull-right fa fa-arrow-circle-o-right" aria-hidden="true"></i></div>
    </div>
</div>
