<div id="dayView">

    <div class="dayArrowLeft">
        <div class="btn arrowBtn" ng-disabled="dc.leftButtonDisabled" ng-click="dc.goLeft()"><i class="pull-left fa fa-arrow-circle-o-left" aria-hidden="true"></i></div>
    </div>
    <div class="dayArrowRight">
        <div class="btn arrowBtn" ng-disabled="dc.rightButtonDisabled" ng-click="dc.goRight()"><i class="pull-right fa fa-arrow-circle-o-right" aria-hidden="true"></i></div>
    </div>

    <h3 class="guestDayTitle">{{dc.focusDay.date | date:'fullDate'}} -- {{dc.focusDay.tag_line}}</h3>

    <div class="dayDisplay">
        <div class="dayMap">
            <ng-map default-style="true" center="{{dc.focusDay.end_map_location.pos}}" zoom="8">
                <marker position="{{dc.focusDay.end_map_location.pos}}" animation="DROP" draggable="true"></marker>
            </ng-map>
        </div>

            <div class="dayInfo">
                <h4>{{dc.focusDay.end_location}}</h4>
                <p>{{dc.focusDay.weather}}</p>
                <p>{{dc.focusDay.narrative}}</p>

                <div>
                    <h4>Lodging</h4>
                    <p>{{dc.focusDay.lodging_name}}</p>
                    <p>{{dc.focusDay.lodging_address}}</p>
                    <p>{{dc.focusDay.lodging_type}} - {{dc.focusDay.lodging_reference}}</p>

                    <h4>Eating and Drinking</h4>
                    <ul ng-repeat="meal in dc.focusDay.meals">
                        <li>{{meal.name}} - {{meal.description}}</li>
                    </ul>

                    <h4>Points of Interest</h4>
                    <ul ng-repeat="place in dc.focusDay.interesting_locations">
                        <li>{{place.name}} - {{place.description}}</li>
                    </ul>

                    <h4>Recommendations</h4>
                    <ul ng-repeat="recommendation in dc.focusDay.recommendations">
                        <li>{{recommendation.text}}</li>
                    </ul>

                    <h4>Route</h4>
                    <ul ng-repeat="route in dc.focusDay.interesting_routes">
                        <li>{{route.name}} - {{route.description}}</li>
                    </ul>
                </div>
            </div>

        <div class="dayPic">
            <img class="guestDayImg" src="{{dc.focusDay.photo_url}}" alt="{{dc.focusDay.photo_caption}}">
        </div>
    </div>
</div>
