<div class="col-xs-3">
    <section id="guestSearchDay">
        <label for="searchInput" class="sr-only"><span>Search Days</span></label>
        <input class="searchInput form-control" type="text" name="searchInput" ng-model="searchInput" placeholder="Search Days" />
    </section>

  <div ng-repeat="day in dc.days | filter:searchInput">
    <div class="guestDay">
      <a ng-click="dc.setDay($index)">
          <p>{{day.date | date:'MM/dd'}} - {{day.end_location}}</p>
      </a>
    </div>
  </div>
</div>

<div class="col-xs-8 col-xs-offset-1">
  <div class="guestTripInfo">
    <h2>{{dc.focusTrip.begin_date | date:'MM/dd' }} to {{dc.focusTrip.end_date | date:'MM/dd' }} - {{dc.focusTrip.trip_name}}</h2>
    <h4>{{dc.focusTrip.travellers}} started in {{dc.focusTrip.begin_location}}, and ended in {{dc.focusTrip.end_location}}</h4>
  </div>

  <h3>{{dc.focusDay.tag_line}}</h3>
  <p><span>{{dc.focusDay.date | date:'MM/dd'}}</span> in <span>{{dc.focusDay.end_location}}</span></p>
  <p><span>{{dc.focusDay.weather}}</span></p>
  <p><span>{{dc.focusDay.narrative}}</span></p>
  <p>Where the night was spent - </p>
  <p><span>{{dc.focusDay.lodging_type}}</span> - <span>{{dc.focusDay.lodging_name}}</span></p>
  <p><span>{{dc.focusDay.lodging_address}}</span><span>{{dc.focusDay.lodging_reference}}</span></p>

  <p>Points of Interest</p>
  <p><span ng-repeat="place in mtc.focusDay.interesting_locations">{{place.name}} - {{place.description}}</span></p>

  <!-- <span>{{dc.focusDay.}}</span>
  <span>{{dc.focusDay.}}</span>
  <span>{{dc.focusDay.}}</span>
  <span>{{dc.focusDay.}}</span>
  <span>{{dc.focusDay.}}</span>
  <span>{{dc.focusDay.}}</span>
  <span>{{dc.focusDay.}}</span> -->

</div>
