<div>

    <div class="float-button">
        <a ng-click="etc.updateTrip()"><i class="rightBtn fa fa-check" aria-hidden="true"></i></a>
    </div>

    <div class="col-xs-12 col-md-6">
        <ng-map zoom="11" center="{{etc.data.trip.destination_location.pos}}">
            <marker position="{{etc.data.trip.destination_location.pos}}" title="{{etc.data.trip.destination}}"></marker>
        </ng-map>
    </div>

    <div class="col-xs-12 col-md-6">
        <form name="tripAdd" class="form-horizontal" novalidate>
            <div class="form-group">
                <label class="control-label">Trip Name</label><br>
                <input type="text" class="col-xs-12 col-md-12" name="trip_name" ng-model="etc.data.trip.trip_name" required>
                <p class="help-block" ng-show="userFieldForm.trip_name.$invalid">Trip Name Required</p>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-5 col-md-5" style="text-align:left">Starting Date</label>
                <label class="control-label col-xs-5 col-xs-offset-1 col-md-offset-1 col-md-5" style="text-align:left">Ending Date</label>
                <input type="date" class="col-xs-5 col-md-5" name="begin_date" ng-model="etc.data.trip.begin_date">
                <input type="date" class="col-xs-5 col-xs-offset-1 col-md-offset-1 col-md-5" name="end_date" ng-model="etc.data.trip.end_date">
            </div>
            <div class="form-group">
                <label class="control-label">Destination</label><br>
                <input places-auto-complete class="col-xs-12 col-md-12" ng-model="etc.data.trip.destination" on-place-changed="etc.destinationChanged()" />
            </div>
            <div class="form-group">
                <label class="control-label">Travellers</label><br>
                <input type="text" class="col-xs-12 col-md-12" name="travellers" ng-model="etc.data.trip.travellers">
            </div>
            <div class="form-group">
                <label class="control-label">Photo Caption</label><br>
                <input type="text" class="col-xs-12 col-md-12" name="photoCaption" ng-model="etc.data.trip.photo_caption">
            </div>
            <div class="form-group">
                <label class="control-label">Photo URL</label><br>
                <input type="text" class="col-xs-12 col-md-12" name="photoURL" ng-model="etc.data.trip.photo_url">
            </div><br><br><br><br>
        </form>
    </div>
</div>
