<div>
    <div id="bodyView">
        <h2>Change a Day</h2>
        <p>{{edc.day}}</p>
    </div>

    <div>
        <a class="btn sideBtn sideBtnSave" ng-click="edc.updateDay()"><i class="pull-right fa fa-check" aria-hidden="true"></i></a>
        <a class="btn sideBtn sideBtnCancel" ng-click="edc.cancel()"><i class="pull-right fa fa-ban" aria-hidden="true"></i></a>
    </div>

    <form name="changeDayForm">

        <div class="daySection form-group">
            <label class="dayLabel col-xs-12">General</label>
            <div class="form-group">
                <input type="date" class="col-xs-12 col-md-3" name="date" ng-model="edc.day.date">
            </div>
            <div class="form-group">
                <input type="text" class="col-xs-12 col-md-8" name="dayEndLocation" ng-model="edc.day.end_location" placeholder="Where are you?">
            </div>
            <div class="form-group">
                <input type="text" class="col-xs-12 col-md-8" name="tag_line" ng-model="edc.day.tag_line" placeholder="Tag line for the day">
            </div>
            <div class="form-group">
                <input type="text" class="col-xs-12 col-md-3" name="weather" ng-model="edc.day.weather" placeholder="Today's Weather">
            </div>
            <div class="form-group">
                <input type="textarea" class="col-xs-12 col-md-12" name="narrative" ng-model="edc.day.narrative" placeholder="Describe the day">
            </div>
        </div>

        <div class="daySection form-group">
            <label class="dayLabel col-xs-12">Points of Interest</label>
            <div class="form-group">
                <input type="text" class="col-xs-12 col-md-5" name="pointOfInterestName" ng-model="edc.newPointOfInterest.name" placeholder="Description">
            </div>
            <div class="form-group">
                <input type="text" class="col-xs-12 col-md-5" name="pointOfInterestDesc" ng-model="edc.newPointOfInterest.description" placeholder="Address">
            </div>
            <div class="col-xs-1 col-md-1 col-md-0ffset-11">
                <a ng-click="edc.addPOIRow()"><i class="fa fa-plus pull-right" aria-hidden="true"></i></a>
            </div><br>
            <div class="col-xs-12 col-md-12">
                <table class="dayTable table table-hover table-responsive">
                    <thead class=>
                        <tr>
                            <th style="width:20%">Name</th>
                            <th style="width:80%">Description</th>
                        </tr>
                    </thead>
                    <tbody class="routes" ng-repeat="place in edc.day.interesting_locations">
                        <tr>
                            <td>{{place.name}}</td>
                            <td>{{place.description}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="daySection form-group">
            <label class="dayLabel col-xs-12">Routes</label>
            <div class="form-group">
                <select class="col-xs-12 col-md-2" ng-model="edc.route.transport_mode" ng-options="item for item in edc.transportModes"></select>
            </div>
            <div class="form-group">
                <input type="text" class="col-xs-12 col-md-4" name="routeName" ng-model="edc.newRoute.name" placeholder="Address">
            </div>
            <div class="form-group">
                <input type="text" class="col-xs-12 col-md-1" name="routeDistance" ng-model="edc.newRoute.distance" placeholder="Dist">
            </div>
            <div class="form-group">
                <input type="text" class="col-xs-12 col-md-1" name="routeDuration" ng-model="edc.newRoute.duration" placeholder="Dur">
            </div>
            <div class="form-group">
                <input type="text" class="col-xs-12 col-md-3" name="routeSpecifics" ng-model="edc.newRoute.specifics" placeholder="Specs">
            </div><br>
            <div class="form-group">
                <input type="text" class="col-xs-12 col-md-10" name="routeComment" ng-model="edc.newRoute.comment" placeholder="Comments">
            </div>
            <div class="col-xs-1 col-md-1">
                <a ng-click="edc.addRouteRow()"><i class="fa fa-plus pull-right" aria-hidden="true"></i></a>
            </div>
            <div class="col-xs-12 col-md-12">
                <table class="dayTable table table-hover table-responsive">
                    <thead class=>
                        <tr>
                            <th style="width:10%">Name</th>
                            <th style="width:10%">Mode</th>
                            <th style="width:5%">Distance</th>
                            <th style="width:5%">Duration</th>
                            <th style="width:20%">Specfics</th>
                            <th style="width:50%">Comment</th>
                        </tr>
                    </thead>
                    <tbody class="routes" ng-repeat="route in edc.day.routes">
                        <tr>
                            <td>{{route.name}}</td>
                            <td>{{route.transport_mode}}</td>
                            <td>{{route.distance}}</td>
                            <td>{{route.duration}}</td>
                            <td>{{route.specifics}}</td>
                            <td>{{route.comment}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="daySection form-group">
            <label class="dayLabel col-xs-12">Meals</label>
            <div class="form-group">
                <select class="col-xs-12 col-md-2" ng-model="edc.meal.type" ng-options="item for item in edc.mealTypes"></select>
            </div>
            <div class="form-group">
                <input type="text" class="col-xs-12 col-md-4" name="mealName" ng-model="edc.newMeal.name" placeholder="Name">
            </div>
            <div class="form-group">
                <input type="text" class="col-xs-12 col-md-5" name="mealLocation" ng-model="edc.newMeal.location" placeholder="Address">
            </div>
            <div class="form-group">
                <input type="text" class="col-xs-12 col-md-5" name="mealDescription" ng-model="edc.newMeal.description" placeholder="Describe it">
            </div>
            <div class="form-group">
                <input type="text" class="col-xs-12 col-md-5" name="routeReference" ng-model="edc.newMeal.reference" placeholder="reference (url)">
            </div><br>
            <div class="col-xs-1 col-md-1">
                <a ng-click="edc.addMealRow()"><i class="fa fa-plus pull-right" aria-hidden="true"></i></a>
            </div>
            <div class="col-xs-12 col-md-12">
                <table class="dayTable table table-hover table-responsive">
                    <thead class=>
                        <tr>
                            <th style="width:10%">type</th>
                            <th style="width:10%">Name</th>
                            <th style="width:20%">Location</th>
                            <th style="width:40%">Description</th>
                            <th style="width:20%">reference</th>
                        </tr>
                    </thead>
                    <tbody class="meals" ng-repeat="meal in edc.meals">
                        <tr>
                            <td>{{meal.type}}</td>
                            <td>{{meal.name}}</td>
                            <td>{{meal.location}}</td>
                            <td>{{meal.description}}</td>
                            <td>{{meal.reference}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="daySection form-group">
            <label class="dayLabel col-xs-12 col-md-12">Lodging</label><br>
            <div class="form-group">
                <select class="col-xs-12 col-md-2" ng-model="edc.lodgingTypes_type" ng-options="item for item in edc.lodgingTypes"></select>
            </div>
            <div class="form-group">
                <input type="text" class="col-xs-12 col-md-4" name="lodging_name" ng-model="edc.day.lodging_name" placeholder="Name">
            </div>
            <div class="form-group">
                <input type="text" class="col-xs-12 col-md-5" name="lodging_address" ng-model="edc.day.lodging_address" placeholder="Address">
            </div><br>
            <div class="form-group">
                <input type="text" class="col-xs-12 col-md-12" name="lodging_reference" ng-model="edc.day.lodging_reference" placeholder="Reference">
            </div>
        </div><br>

        <div class="daySection form-group">
            <label class="dayLabel col-xs-12">Recommendations</label><br>
            <div class="form-group">
                <input type="text" class="col-xs-12 col-md-10" ng-model="edc.newRecommendation.text" placeholder="Recommendations?">
            </div>
            <div class="col-xs-1 col-md-1">
                <a ng-click="edc.addRecommendationRow()"><i class="fa fa-plus pull-right" aria-hidden="true"></i></a>
            </div>
            <div class="col-xs-12 cl-md-11">
                <table class="dayTable table table-hover table-responsive">
                    <thead class=>
                        <tr>
                            <th style="width:100%">Recommendation</th>
                        </tr>
                    </thead>
                    <tbody class="recommendations" ng-repeat="recommendation in edc.day.recommendations">
                        <tr>
                            <td>{{recommendation.text}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

            <div class="spacer">

            </div>
    </form>
</div>
