<div ng-cloak>

    <div class="float-button">
        <md-fab-speed-dial md-open="false" ng-mouseenter md-direction="up" class="md-scale md-fab-bottom-right">
            <md-fab-trigger>
                <md-button class="md-fab" aria-label="Save...">
                    <md-tooltip md-direction="left" md-visible="tooltipVisible">Add Trip Detail</md-tooltip>
                    <md-icon md-svg-src="./assets/icons/ic_add_white_24px.svg"></md-icon>
                </md-button>
            </md-fab-trigger>

            <md-fab-actions>
                <md-button ng-click="edc.addDetail(ev, 'lodging')" class="md-fab md-mini" aria-label="Add Lodging">
                    <md-tooltip md-direction="left" md-visible="tooltipVisible">Lodging</md-tooltip>
                    <md-icon md-svg-src="./assets/icons/hotel.svg"></md-icon>
                </md-button>

                <md-button ng-click="edc.addDetail(ev, 'poi')" class="md-fab md-mini" aria-label="Add Point of Interest">
                    <md-tooltip md-direction="left" md-visible="tooltipVisible">Point of Interest</md-tooltip>
                    <md-icon md-svg-src="./assets/icons/map-marker.svg"></md-icon>
                </md-button>

                <md-button ng-click="edc.addDetail(ev, 'transport')" class="md-fab md-mini" aria-label="Add Transportation">
                    <md-tooltip md-direction="left" md-visible="tooltipVisible">Transport</md-tooltip>
                    <md-icon md-svg-src="./assets/icons/car.svg"></md-icon>
                </md-button>

                <md-button ng-click="edc.addDetail(ev, 'meal')" class="md-fab md-mini" aria-label="Add Food or Drink">
                    <md-tooltip md-direction="left" md-visible="tooltipVisible">Food and Drink</md-tooltip>
                    <md-icon md-svg-src="./assets/icons/food-fork-drink.svg"></md-icon>
                </md-button>

                <md-button class="md-fab md-mini" aria-label="Add Photos">
                    <md-tooltip md-direction="left" md-visible="tooltipVisible">Photos</md-tooltip>
                    <md-icon md-svg-src="./assets/icons/ic_photo_camera_white_24px.svg"></md-icon>
                </md-button>

                <md-button ng-href="#/mydays/{{edc.data.day.trip_id}}" class="md-fab md-mini" aria-label="Return">
                    <md-tooltip md-direction="left" md-visible="tooltipVisible">Back</md-tooltip>
                    <md-icon md-svg-src="./assets/icons/ic_arrow_back_white_24px.svg"></md-icon>
                </md-button>

            </md-fab-actions>
        </md-fab-speed-dial>
    </div>

    <div layout="row" layout-xs="column">
        <div flex="40">
            <md-content>
                <p class="md-title">General Information</p>

                <form class="md-inline-form" name="changeDayForm">
                    <div layout="column" flex>
                        <md-input-container flex>
                            <label>Date</label>
                            <md-datepicker ng-model="edc.data.day.date"></md-datepicker>
                        </md-input-container>
                        <md-input-container flex>
                            <label>Weather</label>
                            <md-select ng-model="edc.data.day.weather">
                                <md-option><em>None</em></md-option>
                                <md-option ng-repeat="weather in ['Sunny', 'Cloudy', 'Rainy', 'Stormy', 'Snowy']" ng-value="weather">
                                    {{weather}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container>
                            <label>Tagline</label>
                            <input type="text" name="tagline" ng-model="edc.data.day.tagline">
                        </md-input-container>
                        <md-input-container>
                            <label>Location</label>
                            <input places-auto-complete ng-model="edc.data.day.end_location" on-place-changed="edc.genDestinationChanged()" placeholder="" />
                        </md-input-container>
                        <md-input-container>
                            <label>Narrative of the Day</label>
                            <textarea rows="5" name="narrative" ng-model="edc.data.day.narrative" ng-wrap></textarea>
                        </md-input-container>
                    </div>
                </form>
            </md-content>
        </div>
        <div flex="60">
            <md-content>
                <div ng-repeat="detail in edc.data.day.details">
                    <md-card ng-click="edc.viewDetail(ev, $index)" class="detailCard">
                        <md-card-title>
                            <md-card-title-media>
                                <div class="md-media-sm card-media" layout style="background-color:indigo;">
                                    <md-icon md-svg-src="{{detail.icon}}" style="color:white;"></md-icon>
                                </div>
                            </md-card-title-media>
                            <md-card-title-text>
                                <!-- <div layout="row"> -->
                                <!-- <div layout="column" flex="90"> -->
                                <span class="md-body-2">{{detail.name}}</span>
                                <span class="md-body-1">{{detail.type}} {{detail.location}}</span>
                            </md-card-title-text>
                        </md-card-title>
                    </md-card>
                </div>
            </md-content>
        </div>
    </div>

    <script type="text/ng-template" id="daydetail.template.html">
        <md-dialog style="z-index:15;" aria-label="Add Day Detail" flex="80">
            <form ng-cloak>
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2>Add {{edc.title}}</h2>
                        <span flex></span>
                        <md-button class="md-icon-button" ng-click="cancel()">
                            <md-icon md-svg-src="./assets/icons/ic_clear_white_24px.svg" aria-label="Close dialog"></md-icon>
                        </md-button>
                    </div>
                </md-toolbar>

                <md-dialog-content>
                    <div class="md-dialog-content" flex="150">
                        <form class="md-inline-form" name="addDayDetailForm">
                            <div layout="column">
                                <md-input-container>
                                    <md-icon flex="10" md-svg-src="./assets/icons/ic_search_black_24px.svg" aria-label="Search"></md-icon>
                                    <input flex="90" places-auto-complete ng-model="edc.search" on-place-changed="destinationChanged()" aria-label="Search" />
                                </md-input-container>
                                <md-input-container>
                                    <label>Type</label>
                                    <md-select ng-model="edc.newDetail.type">
                                        <md-option><em>None</em></md-option>
                                        <md-option ng-repeat="item in edc.selectArray" ng-value="item">
                                            {{item}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                                <md-input-container>
                                    <label>Name</label>
                                    <input type="text" name="name" ng-model="edc.newDetail.name">
                                </md-input-container>
                                <md-input-container>
                                    <label ng-show="edc.newDetail.location">Location</label>
                                    <input type="text" ng-model="edc.newDetail.location" />
                                </md-input-container>
                                <md-input-container>
                                    <label>Description</label>
                                    <textarea rows="3" name="description" ng-model="edc.newDetail.description" ng-wrap></textarea>
                                </md-input-container>
                                <md-input-container>
                                    <label>URL</label>
                                    <input type="text" name="url" ng-model="edc.newDetail.url">
                                </md-input-container>
                            </div>
                        </form>
                    </div>

                </md-dialog-content>

                <md-dialog-actions layout="row" layout-align="space-around center">
                    <!-- <span flex></span> -->
                    <md-button ng-click="addDayDetail()">
                        Save
                    </md-button>
                    <md-button ng-click="cancel()">
                        Discard
                    </md-button>
                </md-dialog-actions>
            </form>

        </md-dialog>
    </script>

    <script type="text/ng-template" id="viewdaydetail.template.html">
        <md-dialog style="z-index:15;" aria-label="View or Change Day Detail" flex="80">
            <form ng-cloak>
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2>View or Change {{edc.title}}</h2>
                        <span flex></span>
                        <md-button class="md-icon-button" ng-click="cancel()">
                            <md-icon md-svg-src="./assets/icons/ic_clear_white_24px.svg" aria-label="Close dialog"></md-icon>
                        </md-button>
                    </div>
                </md-toolbar>

                <md-dialog-content>
                    <div class="md-dialog-content" flex="150">
                        <form class="md-inline-form" name="addDayDetailForm">
                            <div layout="column">
                                <md-input-container>
                                    <md-icon flex="10" md-svg-src="./assets/icons/ic_search_black_24px.svg" aria-label="Search"></md-icon>
                                    <input flex="90" places-auto-complete ng-model="edc.search" on-place-changed="destinationChanged()" aria-label="Search" />
                                </md-input-container>
                                <md-input-container>
                                    <label>Type</label>
                                    <md-select ng-model="edc.newDetail.type">
                                        <md-option><em>None</em></md-option>
                                        <md-option ng-repeat="item in edc.selectArray" ng-value="item">
                                            {{item}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                                <md-input-container>
                                    <label>Name</label>
                                    <input type="text" name="name" ng-model="edc.focusDetail.name">
                                </md-input-container>
                                <md-input-container>
                                    <label ng-show="edc.focusDetail.location">Location</label>
                                    <input type="text" ng-model="edc.focusDetail.location" />
                                </md-input-container>
                                <md-input-container>
                                    <label>Description</label>
                                    <textarea rows="3" name="description" ng-model="edc.focusDetail.description" ng-wrap></textarea>
                                </md-input-container>
                                <md-input-container>
                                    <label>URL</label>
                                    <input type="text" name="url" ng-model="edc.focusDetail.url">
                                </md-input-container>
                            </div>
                        </form>
                    </div>

                </md-dialog-content>

                <md-dialog-actions layout="row" layout-align="space-around center">
                    <!-- <span flex></span> -->
                    <md-button ng-click="updateDetail()">
                        Save
                    </md-button>
                    <md-button ng-click="deleteDetail(edc.focusDetail._id)">
                        Delete
                    </md-button>
                    <md-button ng-click="cancel()">
                        Discard
                    </md-button>
                </md-dialog-actions>
            </form>

        </md-dialog>
    </script>

</div>
