<div class="float-button">
  <md-button ng-click="mdc.goToDay('Add', day)" class="md-fab" aria-label="Add Day">
      <md-icon md-svg-src="./assets/icons/ic_add_white_24px.svg"></md-icon>
  </md-button>
</div>

<md-content class="md-padding" layout-xs="column" layout="row">
    <div layout="row" layout-wrap>
        <md-card style="width: 300px;" ng-repeat="day in mdc.data.tripDays" md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
            <md-card-header>
                <md-title>{{ day.date | date:'MM/dd' }}</md-title>
            </md-card-header>
            <md-card-title class="md-body-2">
                <md-card-title-text>
                    <span class="md-headline">{{day.end_location}}</span>
                    <span class="md-subhead">{{ day.tag_line }}</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-title-media>
                <div class="md-media-lg card-media">
                    <img ng-show="{{day.photo_url}}" src="{{day.photo_url}}" alt="{{trip.photo_caption}}">
                </div>
            </md-card-title-media>
            <md-card-content>
                {{trip.destination}}<br> {{trip.begin_date | date }} - {{trip.end_date | date }}
            </md-card-content>
            <md-card-actions layout="row" layout-align="space-between center">
                <md-button ng-click="mdc.viewTrip(trip._id)" ng-disabled>View</md-button>
                <md-button ng-click="mdc.goToDay('Edit', day)">Edit</md-button>
                <md-button ng-click="mdc.deleteDay(day._id, day.trip_id)">Delete</md-button>
            </md-card-actions>
        </md-card>
</md-content>



<!-- <div uib-accordion close-others="true">
    <div uib-accordion-group ng-repeat="day in mdc.data.tripDays" class="panel-default">
        <uib-accordion-heading>
            {{day.date | date:'MM/dd'}} - {{day.end_location}}
            <span class="deleteBtn pull-right fa fa-trash" ng-click="mdc.deleteDay(day._id, day.trip_id)"></span>
        </uib-accordion-heading>


        <div ng-show="day.interesting_locations.length > 0">
            <label class="dayLabel col-xs-12">Points of Interest</label>
            <div ng-repeat="place in day.interesting_locations">
                <div class="col-xs-12 col-md-12">
                    <span>{{ place.name }}</span>
                </div>
                <div class="col-xs-12 col-md-12">
                    <span>{{ place.description }}</span>
                </div>
            </div>
        </div>

<!--  -->
        <!-- Starting Meals -->
        <!-- <div ng-show="day.meals.length > 0">
            <label class="dayLabel col-xs-12">Eating and Drinking</label>
            <div class="meals" ng-repeat="meal in day.meals">
                <div class="col-xs-12 col-md-12">
                    <span>{{meal.type }}</span> - <span>{{meal.name }}</span>
                </div>
                <div class="col-xs-12 col-md-6">
                    <span>{{meal.location }}</span>
                </div>
                <div class="col-xs-12 col-md-12">
                    <span>{{meal.description }}</span>
                </div>
                <div class="col-xs-12 col-md-12">
                    <span>{{meal.reference }}</span>
                </div>
            </div>
        </div>

        <div ng-show="day.recommendations.length > 0">
            <label class="dayLabel col-xs-12">Recommendations</label>
            <div class="table table-bordered table-hover table-condensed">
                <div class="col-xs-12 col-md-12">
                    <span>{{recommendation.text}}</span>
                </div>
            </div>
        </div>
    </div>
</div> -->
