<div>

    <h2>My Trips</h2>

    <div class="plusIcon">
        <a href="#addtrip"><i class="rightBtn pull-right fa fa-plus-circle" aria-hidden="true"></i></a>
    </div>

    <div uib-accordion close-others="true">
        <div uib-accordion-group class="panel-default" ng-repeat="trip in mtc.data.trips">
            <div uib-accordion-heading>
                {{trip.begin_date | date:'yyyy - MMMM'}} - {{trip.trip_name}}
                <span class="deleteBtn pull-right fa fa-trash" ng-click="mtc.deleteTrip(trip._id)"></span>
            </div>
            <div class="col-xs-12 col-md-12">
                <div class="col-xs-2 col-md-2">
                    <p><a href="#mydays/{{trip._id}}"><i class="fa fa-calendar" aria-hidden="true"></i></a></p>
                </div>
                <div class="col-xs-10 col-md-10">
                    <h4>Destination: {{trip.destination}}
                        <a href="#edittrip/{{trip._id}}" class="editBtn pull-right fa fa-pencil"></a>
                      </h4>
                    <p>Travellers: {{trip.travellers}}</p>
                    <p>Starting: {{trip.begin_date | date }} -- {{trip.begin_location}}</p>
                    <p>Ending: {{trip.end_date | date }} -- {{trip.end_location}}</p>
                </div>
            </div>
        </div>
    </div>
    <div uib-accordion-group>
    </div>
</div>
