<div class="float-button">
    <md-button ng-click="mtc.addTrip()" class="md-fab" aria-label="Add Trip">
        <md-icon md-svg-src="./assets/icons/ic_add_white_24px.svg"></md-icon>
    </md-button>
</div>

<md-content class="md-padding" layout-xs="column" layout="row">
    <div layout="row" layout-wrap>
        <md-card style="width:200px;" ng-repeat="trip in mtc.data.trips" md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
            <div ng-click="mtc.viewTrip(trip._id)">
                <md-card-header>
                    <md-title>{{trip.travellers}}</md-title>
                </md-card-header>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{trip.trip_name}}</span>
                        <span class="md-subhead">{{trip.begin_date | date:'MMMM - yyyy'}}</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-title-media>
                    <div class="md-media-sm card-media">
                        <img src="{{trip.photo_url}}" alt="{{trip.photo_caption}}">
                    </div>
                </md-card-title-media>
                <md-card-content>
                    {{trip.destination}}<br> {{trip.begin_date | date }} - {{trip.end_date | date }}
                </md-card-content>
            </div>
            <md-card-actions layout="row" layout-align="space-between center">
                <!-- <md-button ng-click="mtc.viewTrip(trip._id)">View</md-button> -->
                <md-button ng-click="mtc.editTrip($event, trip)">Edit</md-button>
                <md-button ng-click="mtc.deleteTrip(trip._id)">Delete</md-button>
            </md-card-actions>
        </md-card>
</md-content>

<script type="text/ng-template" id="edittrip.template.html">
    <md-dialog style="z-index:15;" aria-label="Edit Trip" flex="80">
        <form ng-cloak>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>Edit Trip</h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="cancel()">
                        <md-icon md-svg-src="./assets/icons/ic_clear_white_24px.svg" aria-label="Close dialog"></md-icon>
                    </md-button>
                </div>
            </md-toolbar>

            <md-dialog-content>
                <div class="md-dialog-content" flex="150">
                    <form class="md-inline-form" name="changeTripForm">
                        <div layout="column">
                            <md-input-container>
                                <label>Trip Name</label>
                                <input type="text" name="trip_name" ng-model="mtc.data.trip.trip_name" required>
                            </md-input-container>
                            <div layout="row">
                                <md-input-container flex="50">
                                    <label>Starting Date</label>
                                    <input type="date" name="begin_date" ng-model="mtc.data.trip.begin_date">
                                </md-input-container>
                                <md-input-container flex="50">
                                    <label>Ending Date</label>
                                    <input type="date" name="end_date" ng-model="mtc.data.trip.end_date">
                                </md-input-container>
                            </div>
                            <md-input-container>
                                <label>Destination</label>
                                <input places-auto-complete ng-model="mtc.data.trip.destination" on-place-changed="atc.destinationChanged()" />
                            </md-input-container>
                            <md-input-container>
                                <label>Travellers</label>
                                <input type="text" name="travellers" ng-model="mtc.data.trip.travellers">
                            </md-input-container>
                            <md-input-container>
                                <label>Photo Caption</label>
                                <input type="text" name="photoCaption" ng-model="mtc.data.trip.photo_caption">
                            </md-input-container>
                            <md-input-container>
                                <label>Photo URL</label>
                                <input type="text" name="photoURL" ng-model="mtc.data.trip.photo_url">
                            </md-input-container>
                        </div>
                    </form>

            </md-dialog-content>

            <md-dialog-actions layout="row">
                <span flex></span>
                <md-button ng-click="updateTrip()">
                    Save
                </md-button>
                <md-button ng-click="cancel()">
                    Discard
                </md-button>
            </md-dialog-actions>
        </form>

    </md-dialog>
</script>
