<div>
    <div id="bodyView">
        <h2 class="bottomMargin">My Trips</h2>
    </div>

    <div class="plusIcon">
      <a href="#addtrip"><i class="pull-right fa fa-plus-circle" aria-hidden="true"></i></a>
    </div>

    <uib-accordion close-others="true">
        <div uib-accordion-group class="panel-default" heading="{{trip.begin_date | date:'yyyy - MMMM'}} - {{trip.trip_name}}" ng-repeat="trip in mtc.trips">
          <a href="#mydays/{{trip._id}}">
            <div>
                <p>Destination: {{trip.destination}}, Travellers: {{trip.travellers}}</p>
                <p>Starting: {{trip.begin_date | date }} -- {{trip.begin_location}}</p>
                <p>Ending: {{trip.end_date | date }} -- {{trip.end_location}}</p>
            </div>
            </a>
        </div>
    </uib-accordion>
    <div uib-accordion-group>
    </div>
  </div>
