<div ng-controller="NavController as nc">

    <div id="nav-view">
        <nav>
            <ul class="nav-menu">
                <li><a ng-click="nc.logOut()" ng-show="nc.authData.isUserLoggedIn"><i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
                <li><a ng-click="nc.logIn()" ng-show="!nc.authData.isUserLoggedIn"><i class="fa fa-sign-in" aria-hidden="true"></i></a></li>
                <li><a href="#trips"><i class="fa fa-globe" aria-hidden="true"></i></a></li>
                <li><a href="#pics" ng-show="nc.authData.isUserLoggedIn"><i class="fa fa-camera" aria-hidden="true"></i></a></li>
                <li><a href="#maps" ng-show="nc.authData.isUserLoggedIn"><i class="fa fa-map-marker" aria-hidden="true"></i></a></li>
                <li><a href="#mytrips" ng-show="nc.authData.isUserLoggedIn"><i class="fa fa-suitcase" aria-hidden="true"></i></a></li>
                <li><a href="#home"><i class="fa fa-home" aria-hidden="true"></i></a></li>
            </ul>
        </nav>
    </div>

    <nav id="hamburger-view">
      <div>
        <a><i class="hamburger fa fa-bars" aria-hidden="true"></i></a>
      </div>
    </nav>

    <aside class="nav-aside">
        <nav class="nav-overlay">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#mytrips">My Trips</a></li>
                <li><a href="#maps">My Map</a></li>
                <li><a href="#pics">My Photos</a></li>
                <li><a href="#trips">Travel Gallery</a></li>
                <li><a ng-click="nc.logOut()" ng-show="nc.authData.isUserLoggedIn">Register/Login</a></li>
                <li><a ng-click="nc.logIn()" ng-show="!nc.authData.isUserLoggedIn">Logout</a></li>

            </ul>
        </nav>
    </aside>


</div>
