    <div class="col-sm-12" id="navView">
        <ul class="nav nav-tabs nav-justified">
            <li class="btn btn-default btn-lg btn-block"><a data-toggle="tab" href="#home">Home</a></li>
            <li class="btn btn-default btn-lg btn-block"><a data-toggle="tab" href="#mytrips">My Trips</a></li>
            <li class="btn btn-default btn-lg btn-block"><a data-toggle="tab" href="#trips">Trips</a></li>
            <li class="btn btn-default btn-lg btn-block"><a data-toggle="tab" href="#login">Login</a></li>
        </ul>
    </div>
