<div class="bodyView col-xs-12 col-md-8">
    <h2>My Photos</h2>
</div>

<div class="col-xs-12 col-md-4">
    <h2>
        <label for="searchInput" class="sr-only"><span>Search Photos</span></label>
        <input class="searchInput form-control" type="text" name="searchInput" ng-model="searchInput" placeholder="Search Photos" />
    </h2>
</div>

<div id="pic-container col-xs-12">
    <div class="picView col-xs-12 col-md-4" ng-repeat="pic in pc.photoArray | filter:searchInput">
        <img src="{{pic.photo_url}}" alt="{{pic.photo_caption}}"><br>
        <caption>{{pic.photo_caption}}</caption>
    </div>
</div>

</div>
