<div class="bodyView col-xs-12 col-md-8">
  <h2>Trips</h2>
</div>


<div class="col-xs-12 col-md-4">
    <h2>
        <label for="searchInput" class="sr-only"><span>Search Trips</span></label>
        <input class="searchInput form-control" type="text" name="searchInput" ng-model="searchInput" placeholder="Search Trips" />
    </h2>
</div>

<div class="col-xs-12 col-md-12">
  <div ng-repeat="trip in tc.data.trips | filter:searchInput">
      <a class="col-xs-12 col-md-3" ng-href="#trip/{{trip._id}}">
        <div class="guestTrip">
          <h5><i class="fa fa-globe" aria-hidden="true"></i><span>{{trip.begin_date | date:'MM/yy'}} - {{trip.trip_name}}</span></h5>
        </div>
      </a>
  </div>
</div>
