.daySection input {
    margin: 3px 3px;
}

.dayTable th {
    text-align: center;
    color: grey;
}

.dayLabel {
    margin-top: 10px;
    border-top: 1px solid $accent-color;
    padding: 5px 0;
}

.daySubLabel {
    margin-top: 10px;
    border-top: 1px solid #d5d9de;
    padding: 5px 0;
}
