#dayView {
    width: 100%;
}
.guestDayTitle {
  width: 100%;
    text-align: center;
    color: $highlight-color;
    margin-bottom: 20px;
}

.dayDisplay {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}

.dayInfo {
  width: 90%;
}

.dayInfo p {
    padding-left: 20px;
}

.dayInfo h3 {
    text-align: center;
    width: 100%;
}

.dayMap {
  width: 20%;
}

.dayPic {
  width: 40%
}

.dayInfo {
  display: block;
  width: 50%;
  padding: 0 10px;
}

.dayGraphic {
    height: 25%;
    width: 25%;
    margin: 2px;
}

.guestDay:active {
    background-color: lightgrey;
}

.guestDay p {
    /*text-align: center;*/
    padding: 10px 5px 0 10px;
    color: $accent-color;
}

.guestDayImg {
    height: auto;
    max-width: 100%;
}
