#wide-menu {
  @include header-bar;
}

#narrow-menu {
  @include header-bar;
}

.left-menu {
  padding: 5px 0 0 10px;
}

.left-menu:hover {
  cursor: pointer;
}

.left-menu a {
  font-size: 1.5em;
  color: white;
  text-decoration: none;
  border-radius: 10px;
}

.left-menu a span {
  padding-left: 30px;
  font-family: 'Roboto', sans-serif;
}

#nav-view a {
    color: white;
    margin: 5px;
    border-radius: 10px;
}

.hamburger {
    font-size: 1.5em;
    display: block;
    float: right;
    color: white;
    text-align: center;
    padding: 2px;
    text-decoration: none;
    margin: 10px;
    border-radius: 10px;
    width: 40px;
}

.hamburger:hover {
  cursor: pointer;
}

.nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav-menu li {
    display: inline-block;
    float: right;
}

.nav-menu li a {
    font-size: 1.5em;
    display: block;
    color: white;
    text-align: center;
    padding: 2px;
    text-decoration: none;
    margin: 0 5px;
    border-radius: 10px;
    width: 40px;
}

.nav-menu li a:last-of-type {
    margin-left: 80%;
}

.nav-btn:focus,
.nav-menu li a:hover {
    background-color: #FF3D3D;
}

.nav-home:focus,
.nav-home:hover {
    background-color: #FF3D3D;
}

.nav-home:focus,
.nav-home:hover {
    padding-top: 25px;
    padding-bottom: 45px;
}

.nav-aside {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: $main-color;
    transition: all 0.5s ease;
    z-index: 2;
}

.open {
    opacity: 1;
    visibility: visible;
}

.navBarBtn {
    color: white;
}

.nav-overlay {
    text-align: center;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            align-items: center;
            flex: 1;
            line-height: 12vh;

            a {
                font-size: 1.5em;
                transition: all 0.5s ease;
                display: block;
                text-decoration: none;
                color: lighten($highlight-color, 6%);

                &:hover {
                    color: $highlight-color;
                    transform: scale(1.1);

                    &:before {
                        visibility: visible;
                        transform: scaleX(1);
                    }
                }

                &:before {
                    content: "";
                    position: absolute;
                    width: 50%;
                    height: 2px;
                    bottom: 0;
                    left: 25%;
                    background: $accent-color;
                    visibility: hidden;
                    transform: scaleX(0);
                    transition: all 0.3s ease-in-out 0s;
                }
            }
        }
    }
}

.close {
    position: fixed;
    top: 40px;
    right: 60px;
    color: $accent-color;
    z-index: 3;
    cursor: pointer;
    font-family: sans-serif;

    span,
    span:after,
    span:before {
        border-radius: 4px;
        height: 5px;
        width: 35px;
        background: $accent-color;
        position: absolute;
        display: block;
        content: '';
    }

    span {
        background: transparent;
    }

    span:before {
        transform: rotate(45deg);
    }

    span:after {
        transform: rotate(-45deg);
    }
}
@media screen and (min-width: 861px) {
    #wide-menu {
        visibility: visible;
    }

    #narrow-menu {
        visibility: hidden;
    }
}
@media screen and (max-width: 860px) {
    #wide-menu {
        visibility: hidden;
    }

    #narrow-menu {
        visibility: visible;
    }

    nav ul li a {
        font-size: 1.75em;
    }

    .left-menu a {
      font-size: 1.5em;
    }
}

.left-nav-text {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  padding-left: 30px;
}
