.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.angular-google-map-container {
    height: 400px;
}

#bootstrap-overrides .navButton:hover {
    background-color: #c3143e;
}

#bootstrap-overrides .navButton:focus {
    background-color: #c3143e;
}

#navView a {
    /*border: 2px solid white;*/
    color: white;
    margin: 5px;
    border-radius: 10px;
}

.navButton {
    font-size: 3em;
}

.navbar-brand {
    font-size: 1.5em;
    font-family: 'Molle', cursive;
    font-family: 'Rock Salt', cursive;
}

.navbar-brand:hover, .navbar-brand:focus {
    background-color: #c3143e;
}

#homeTag {
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 2.5em;
    font-family: 'Sriracha', cursive;
    color: #c3143e;
}

main {
    margin: 80px;
}

h1 {
    text-align: center;
    font-size: 6em;
    font-style: italic;
    color: #c3143e;
    font-family: 'Sriracha', cursive;
    font-weight: bolder;
}

.h2 {
    text-align: center;
}

.bottomMargin {
    margin-bottom: 30px;
}

.h4 {
    text-align: center;
}

.guestDayTitle {
    text-align: center;
    color: #c3143e;
    margin-bottom: 20px;
}

body {
    background-color: white;
    color: #3072AC;
}

#homePics {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.homeImg {
    margin: 2px;
    /*max-width: 200px;
  height: auto;*/
}

.guestTabView {
    margin-top: 20px;
}

.searchInput {
    border-radius: 25px;
}

.guestTrip {
    background-color: #cadef1;
    padding: 10px;
    margin: 5px;
    box-shadow: 4px 4px 2px darkgrey;
}

.guestTrip:hover {
    bottom: -2px;
    left: 2px;
    box-shadow: 3px 3px 1px #887f7d;
}

.guestTrip h4 {
    text-align: center;
    color: #3072AC;
}

.guestTrip p {
    text-align: center;
    color: #3072AC;
}

/*#guestSearchDay {
  margin: 1px -300px 0 -90px;
  width: 100%
}*/

#dayView {
  width: 100%;
  display: inline-flex;
}

#daySelect {
  width: 10%;
}

#dayDisplay {
  width: 90%;
}

.guestDay {
    margin: 1px -20px 0 -70px;
    border: 1px solid lightgrey;
    padding: 1px 5px;
    box-shadow: 2px 2px 1px darkgrey;
}

.guestDay:hover {
  background-color: lightgrey;
}

.guestDay:active {
  background-color: lightgrey;
}

.guestDay p {
    /*text-align: center;*/
    padding: 10px 5px 0 10px;
    color: #3072AC;
}

.guestDayImg {
    max-width: 100%;
    height: auto;
}

.guestTripInfo p {
    padding-left: 20px;
}

.guestTripInfo h3 {
    text-align: center;
}

.pageBtn {
    width: 50px;
    font-size: 2em;
    color: white;
    background-color: #3072AC;
}

.arrowBtn {
  font-size: 3em;
  color: #3072AC;
}

.arrowBtn:disabled {
  color: #6eb0eb;
}

.sideBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  border: 1px solid lightgrey;
  height: 70px;
  width: 70px;
  line-height: 70px;
  border-radius: 35px;
  box-shadow: 2px 2px 1px lightgrey;
}

.sideBtnSave {
  color: green;
  bottom: 130px;
  right: 30px;
  font-size: 3.5em;
}

.sideBtnCancel {
  color: red;
  bottom: 50px;
  right: 30px;
  font-size: 3.5em;
  padding: 0px;
}

.fa-plus-circle {
    font-size: 5em;
    color: #3072AC;
    position: fixed;
    bottom: 50px;
    right: 30px;
}

.fa-calendar {
    position: relative;
    top: 1px;
    font-size: 5em;
    color: #3072AC;
    position: absolute;
    bottom: 50px;
    right: 30px;
}

.fa-plus {
    font-size: 2em;
}

.daySection input {
    margin: 3px 3px;
}

#guestSearchDay {
    margin: 5px 5px 15px 5px;
    padding: 5px 5px 0 5px;
}

.top-buffer {
    margin-top: 20px;
}

.tripInfo {
    font-size: 1.2em;
}

.tripInfo .title {
    text-align: right;
    font-weight: 200;
}

.editBtn, .addBtn, .deleteBtn, .updateBtn, .cancelBtn, .pinBtn {
    font-size: 1.5em;
}

.btnGroup {
    text-align: center;
}

.addDayBtnGroup {
    position: fixed;
    left: 0px;
    bottom: 30px;
}

.editBtn {
    color: green;
}

.addBtn {
    color: #3072AC;
}

.deleteBtn {
    padding-left: 5px;
    color: red;
}

.pinBtn {
    margin-left: 15px;
    width: 20px;
}

.cancelBtn, .pinBtn {
    color: red;
}

.updateBtn {
    color: green;
}

.dayTable th {
    text-align: center;
    color: grey;
}

.dayLabel {
    margin-top: 10px;
    border-top: 1px solid #3072AC;
    padding: 5px 0;
}

.daySubLabel {
    margin-top: 10px;
    border-top: 1px solid #d5d9de;
    padding: 5px 0;
}

#navView {
    position: fixed;
    top: 0px;
    background-color: #3072AC;
    color: white;
    padding: 5px;
    width: 100%;
}

#footerView {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 30px;
    width: 100%;
    background: #3072AC;
}

#footerView p {
    padding-top: 3px;
    text-align: center;
    color: white;
}


/*Google Maps Styling*/

.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

.pac-container {
    font-family: Roboto;
}

#type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
}

#type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

#target {
    width: 345px;
}
