.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

main {
  margin: 70px;
}

h1 {
  text-align: center;
  font-size: 10em;
  color: #e77811;
  font-weight: bolder;
}

h2 {
    text-align: center;
}

/*body {
    background-image: url(../assets/images/DSC03504-2.jpg);
    background-size:  cover;
}*/

.deleteBtn {
  padding-left: 5px;
  color: red;
}

.editBtn {
  color: green;
}

#navView {
    position: fixed;
    top: 0px;
    background-color: #e77811;
    color: white;
    padding: 5px;
    width: 100%;
}

#footerView {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 30px;
    width: 100%;
    background: #e77811;
}

#footerView p {
    padding-top: 3px;
    text-align: center;
}
