main {
    margin: 80px;
}

#homeTitle {
    text-align: center;
    font-size: 6em;
    font-style: italic;
    color: $highlight-color;
    font-family: 'Limelight', cursive;
    font-weight: bolder;
}

body {
    background-color: $main-color;
    color: $accent-color;
}
